.order,
.user {
  background: padding-box;
}

.order {
  background: #a8d574 0% 0% no-repeat padding-box;
  opacity: 1;

  &-info,
  &-method {
    padding-left: 20%;
    padding-right: 10%
  }

  &-method {
    &-btn {
      padding: 0 80% 0;
    }
  }
}

.user {
  background: #343434 0% 0% no-repeat padding-box;
  opacity: 1;
}

.img-store {
  background-image: url(../images/storePicture_2x.png);
}

.font-space {
  letter-spacing: 2.4px;
}

.price {
  font: normal normal 300 36px/94px NotoSans CJK TC;
  letter-spacing: 3.6px;
}
