.user {
  height: 100%;
  background: #343434 0% 0% no-repeat padding-box;
  padding: 30% 20% 10% 10%;
}

$creditImage: (
  jcb: url(../images/jcb_gray.svg) no-repeat,
  jcb-active: url(../images/jcb_green.png) no-repeat,
  master: url(../images/mastercard_gray.svg) no-repeat,
  master-active: url(../images/mastercard_green.png) no-repeat,
  visa: url(../images/visa_gray.svg) no-repeat,
  visa-active: url(../images/visa_green.png) no-repeat,
  unionPay: url(../images/unionPay_gray.png) no-repeat,
  unionPay-active: url(../images/unionPay_green.png) no-repeat,
);

@each $key, $value in $creditImage {
  .icon-#{$key} {
    background: $value;
    transition: all 0.2s ease;
  }
}

.icon-credit {
  display: inline-block;
  width: 110px;
  height: 77px;
  cursor: pointer;
}

.input-label-font {
  font: normal normal 300 18px/94px Noto Sans CJK TC;
  line-height: inherit;
  letter-spacing: 0px;
  color: #a8d574;
}

.input-error {
  text-align: left;
  font: normal normal 100 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ff521a;
}

#phoneNumberHelpBlock {
  font: normal normal normal 14px/24px Noto Sans CJK TC;
  letter-spacing: 0px;
  color: #ffd065;
}

.user-button {
  background: #a8d574 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #0000003d;
  border-radius: 2px;
  color: black;

  &:hover{
   background: #5f8138 0% 0% no-repeat padding-box
  }
}

.form-group {
  margin-bottom: 0;
}
